@tailwind base;
@tailwind components;
@tailwind utilities;

/* Make the 3D canvas fill the entire screen */
html,
body,
#root,
#__next {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000; /* Default to a black background */
  color: white;
}

/* Light theme */
.light body {
  background-color: #f7f7f7;
  color: #111;
}
